body {
  font-family: "Gentium Book Plus", serif;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
  color: #48484ad6;
}
.form-button {
  border-radius: 5px;
  border: #d2d8de 1px solid;
  background-color: #f2f2f1;
  color: #48484ad6;
}
.form-button:hover {
  border: #b3bac1 1px solid;
}

.row {
  margin: 0 auto;
}
.col-7 {
  padding-right: 0;
}
.col-4 {
  padding: 0 5px;
  width: fit-content;
}
.form-icon {
  width: 20px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: #006ec5;
  padding: 12px;
}

li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.weather-app {
  background-color: rgb(213 215 217 / 47%);
  max-width: 700px;
  border: 1px solid rgb(213 215 217 / 47%) f;
  border-radius: 8px;
  padding: 20px 15px;
  margin: 35px auto;
}
.weather-temperature img {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
.weather-temperature strong {
  line-height: 1;
  color: #ec6e4c;
  font-size: 90px;
}
.weather-temperature .units {
  position: relative;
  top: -50px;
  color: #ec6e4c;
  font-weight: 600;
  font-size: 20px;
}

.date-time {
  font-size: 35px;
  margin-top: 5px;
}
.current-date {
  font-size: 20px;
}
.li-descrip {
  font-size: 25px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 18px;
}
.forecast-temperature {
  font-size: 15px;
}
.forecast-temperature-min {
  opacity: 0.7;
}
.footer {
  display: block;
  text-align: center;
}
a {
  color: #006ec5;
  text-decoration: none;
}
