body {
  font-family: "Gentium Book Plus", serif;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(226, 240, 254) 0%,
    rgb(255, 247, 228) 90%
  );
}
.form-button {
  border-radius: 5px;
  border: #d2d8de 1px solid;
  background-color: #f2f2f1;
}
.row {
  margin: 0 auto;
}
.col-7 {
  padding-right: 0;
}
.col-4 {
  padding: 0 5px;
  width: fit-content;
}
.form-icon {
  width: 20px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: #006ec5;
  padding: 12px;
}

li {
  list-style: none;
  color: #48484ad6;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.weather-app {
  background-color: radial-gradient(
    circle at 10% 20%,
    rgb(69, 123, 143) 0%,
    rgb(189, 196, 203) 90.1%
  );
  max-width: 700px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  padding: 20px 15px;
  margin: 35px auto;
}
.weather-temperature img {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
.weather-temperature strong {
  line-height: 1;
  color: #ff7043;
  font-size: 90px;
}
.weather-temperature .units {
  position: relative;
  top: -50px;
  color: #ffa726;
  font-weight: 600;
  font-size: 20px;
}
.weather-temperature .active {
  color: #ff7043;
  cursor: default;
}
.units-link {
  color: #ffa726;
  text-decoration: none;
}

.date-time {
  font-size: 35px;
  margin-top: 5px;
}
.current-date {
  font-size: 20px;
}
.li-descrip {
  font-size: 25px;
}
.footer {
  display: block;
  text-align: center;
}
